body{
	margin:0;
	background-color:#369;
	overflow:auto;
}
#error_alert{ display:none;
			background-color:#FF1C1C;
			font-family:Verdana, Geneva, sans-serif;
			color:white;
			
			position:fixed;
			width:40%;
			left:30%;
			top:20%;}
.radius{
		border-radius: 12px;
  		-webkit-border-radius: 12px;
  		-moz-border-radius: 12px;

  		box-shadow: 2px 4px 6px #555;
  		-moz-box-shadow: 2px 4px 6px #555;
  		-webkit-box-shadow: 2px 4px 6px #555;}
.shadow_only{
	
	-webkit-box-shadow: -5px 9px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -5px 9px 5px rgba(50, 50, 50, 0.75);
box-shadow:         -5px 9px 5px rgba(50, 50, 50, 0.75);}

#btn1{
	background:#06F;
	height:200px;
	width:200px;
	position:relative;
	margin-left:10px;
	left:900px;
	cursor:pointer;
	
	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:30px;
	padding-left:10px;
	text-align:left;
	
}
#btn2{
	background:#C30;
	height:200px;
	width:200px;
	position:relative;
	margin-left:10px;
	left:900px;
	cursor:pointer;
	
	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:30px;
	padding-left:10px;
	text-align:left;
}

#btn3{
	background:#F60;
	border-color:#F60;
	height:200px;
	width:200px;
	position:relative;
	margin-left:10px;
	left:900px;
	cursor:pointer;
	
	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:30px;
	padding-left:10px;
	text-align:left;
}

#btn4{
	background:#C3C;
	border-color:#F60;
	height:200px;
	width:200px;
	position:relative;
	margin-left:10px;
	margin-top:30px;
	left:900px;
	cursor:pointer;
	
	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:30px;
	padding-left:10px;
	text-align:left;
}
#btn5{
	background:#F36;
	border-color:#F60;
	height:200px;
	width:200px;
	position:relative;
	margin-left:10px;
	margin-top:30px;
	left:900px;
	cursor:pointer;
	
	color:#FFF;
	font-size:22px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:30px;
	padding-left:10px;
	text-align:left;
}

#btn6{
	background:#6C0;
	height:200px;
	width:200px;
	position:relative;
	margin-left:10px;
	margin-top:30px;
	left:900px;
	cursor:pointer;
	
	color:#FFF;
	font-size:22px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:30px;
	padding-left:10px;
	text-align:left;
}

#content{
	background:#369;
	height:480px;
	width:750px;
	position:relative;
	top:500px;
	z-index:0;
}

#caption{
	position:relative;
	top:-60px;
	
	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#pagecaption{
	position:relative;
	top:-60px;
	
	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
<!--sylizacja formularza-->
.myform{
		}
.fill{
	-moz-transition: all 0.5s ease, width 0.5s ease;
  	-webkit-transition: all0.5s ease, width 0.5s ease;
  	transition: all 0.5s ease, width 0.5s ease;
	background-color:#CCC;
	border:0; 
	padding:10px; 
	font-size:1.3em; 
	font-family:Arial, sans-serif; 
	color:#aaa; 
	border:solid 1px #ccc; 
	margin:0 0 20px; 
	width:300px;
	border-radius: 5px;
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;

  	box-shadow: 2px 4px 6px #555;
  	-moz-box-shadow: 2px 4px 6px #555;
  	-webkit-box-shadow: 2px 4px 6px #555;
}
.fill:focus{
	width:350px;
	background-color:#FFFFFF;
	border:#000000 groove;} 

#log_form{
	-moz-transition: all 2s ease, width 2s ease;
  	-webkit-transition: all 2s ease, width 2s ease;
  	transition: all 2s ease, width 2s ease;
		background-color:#7DB4B5;
		border-radius: 12px;
  		-webkit-border-radius: 12px;
  		-moz-border-radius: 12px;

  		box-shadow: 2px 4px 6px #555;
  		-moz-box-shadow: 2px 4px 6px #555;
  		-webkit-box-shadow: 2px 4px 6px #555;
}
#log_form:hover{
	background:#E0EFF1;
	
}

.logbtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:13px;
	-moz-border-radius-topleft:13px;
	border-top-left-radius:13px;
	-webkit-border-top-right-radius:13px;
	-moz-border-radius-topright:13px;
	border-top-right-radius:13px;
	-webkit-border-bottom-right-radius:13px;
	-moz-border-radius-bottomright:13px;
	border-bottom-right-radius:13px;
	-webkit-border-bottom-left-radius:13px;
	-moz-border-radius-bottomleft:13px;
	border-bottom-left-radius:13px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:38px;
	line-height:38px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.logbtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.logbtn:active {
	position:relative;
	top:1px;}
	
input[type=radio] {
	margin:2px;
    display:none;
	width:70px;
}
 
input[type=radio] + label {
	margin:2px;
	width:70px;
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
 
input[type=radio]:checked + label {
	margin:2px;
	width:70px;
       background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#e0e0e0;}
<!--Koniec form-->


<!-- Stylizacja podstawowej dwu kolumnowej tabelki -->
.dummy_style {
	width: 360px;
}
.row{
	width: 360px;
	height: 45px;
	border-left: 0px solid #002f6a;
	border-top: 0px solid #002f6a;
	border-right: 0px solid #11498e;
	padding-left: 30px;
	font-size:22px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
	
.key_column {
	width: 360px;
	height: 45px;
	background-color: #4c7cb7;
	border-left: 1px solid #002f6a;
	border-top: 1px solid #002f6a;
	border-right: 2px solid #11498e;
	padding-left: 30px;
	font-size:22px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.value_column {
	width: 360px;
	height: 45px;
	background-color: #558bcd;
	border-left: 2px solid #11498e;
	border-top: 1px solid #002f6a;
	border-right: 1px solid #002f6a;
	padding-left: 30px;
	font-size:22px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
tr:last-child
{
   border-bottom: 1px solid #002f6a;
}

table tr td a {
    text-decoration: none;
    color: white;
}
