
nav ul li:hover > ul {
	display: block;
}

nav ul ul {
	display: none;
}
nav ul {
	background: #4c7cb7; 
	background: linear-gradient(top, 4c7cb7 0%, #4c7cb7 100%);  
	background: -moz-linear-gradient(top, 4c7cb7 0%, #4c7cb7 100%); 
	background: -webkit-linear-gradient(top, 4c7cb7 0%,#4c7cb7 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
	width: auto;
}
nav ul:after {
	content: ""; clear: both; display: block;
}
	
nav ul li {
	float: left;
}

nav ul li:hover {
	background: #11498e;
	background: linear-gradient(top, #11498e 0%, #11498e 40%);
	background: -moz-linear-gradient(top, #11498e 0%, #11498e 40%);
	background: -webkit-linear-gradient(top, #11498e 0%,#11498e 40%);
}

nav ul li:hover a {
	color: #fff;
}
	
nav ul li a {
	display: block; padding: 15px 40px;
	color: #002f6a; text-decoration: none;
}
	
nav ul ul {
	background: #002f6a; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}

nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}

nav ul ul li a:hover {
	background: #11498e;
}
			
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}

nav ul li.active a {
  background: lime;
  background: linear-gradient(top, #11498e 0%, #11498e 40%);
  background: -moz-linear-gradient(top, #11498e 0%, #11498e 40%);
  background: -webkit-linear-gradient(top, #11498e 0%,#11498e 40%);
}