@CHARSET "UTF-8";

.attendance_first_row{
	min-width: 112px;
	height: 30px;
	border-left: 0px solid #002f6a;
	border-top: 0px solid #002f6a;
	border-right: 1px solid #11498e;
	padding-left: 5px;
	font-size:12px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	white-space: nowrap;
}

.attendance_row{
	min-width: 10px;
	height: 25px;
	border-left: 0px solid #4c7cb7;
	border-right: 1px solid #4c7cb7;
	border-top: 1px solid #4c7cb7;
	border-bottom: 1px solid #4c7cb7;
	padding-left: 2px;
	font-size:12px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	white-space: nowrap;
	text-align: center;
}
	
table.attendance_table tr:first-child td:first-child {
	min-width: 20px;
}